:root {
  --fontfamily-montserrat: "Montserrat", sans-serif;
  --navy: #252b42;
}

* {
  box-sizing: border-box;
}
.haruka-wrap {
  font-family: var(--fontfamily-montserrat);
}

.new {
  border-radius: 50%;
  background-color: orange;
  width: 90px;
  height: 90px;
}
